body{
  background:hsla(212, 72%, 59%, 1)


}
.proov .header, body .esimene img {
  width: auto;
  height: 10px;

}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  align-content: space-between;
  list-style: none;
  text-decoration: none;


}
ul {
  list-style: none;
  justify-content: space-between;
  align-content: space-between;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  word-spacing: normal;
}

h1 {
  color: white
}
p, a {
  color: white;
  text-decoration: none;
  grid-template-columns: 4fr 2fr 1fr;
  grid-auto-rows: 1fr
}

.header {
margin: 4em
display: grid;
grid-template-columns: 4fr 1fr 2fr;
grid-template-rows: 1fr;
 }

.header.body.search .kolmas  {
  display: flex;
  flex-direction: row;
  border-style:solid;
  border-color: white;
}
.body .header .peale3 img {
  height: 50px
  width:auto;
  margin-left: 65px
  margin-top: 20px
}
 h2 {
   margin-left: -150px;
 }
.viies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -150px
}
.peale3 {
  display: flex;
  transform: rotate(140);
  flex-direction: row;
  border-color: white

}
 h3 {
   color: white;
   font-style: 150px

 }
.kolmas {
  display: grid;
  grid-template-columns: 4, 1fr, 2fr
  grid-template-rows 1fr;
}
